@model OnlineAuctionSystem.Models.RegisterViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register";
}

<div class="login-1">
    <div class="container-fluid">
        <div class="row login-box">
            <div class="col-lg-6 align-self-center pad-0 form-section">
                <div class="form-inner">
                    <h3>Create an account</h3>
                    @if (TempData["RegisterSuccess"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Congrats,</strong> your account has been created!
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    }
                    <form asp-action="Register" method="post" id="registerForm">
                        <div class="form-group position-relative clearfix">
                            <input asp-for="FullName" class="form-control" placeholder="Full Name" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative clearfix">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email Address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div class="login-popover login-popover-abs" data-bs-toggle="popover" title="Clarification" data-bs-content="Enter your best email.">
                                <i class="fa fa-info-circle"></i>
                            </div>
                        </div>
                        <div class="form-group clearfix position-relative password-wrapper">
                            <input asp-for="Password" type="password" class="form-control" autocomplete="off" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <i class="fa fa-eye password-indicator"></i>
                        </div>
                        <div class="form-group clearfix position-relative password-wrapper">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="off" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <i class="fa fa-eye password-indicator"></i>
                        </div>
                        <div class="form-group checkbox clearfix">
                            <div class="form-check float-start">
                                <input asp-for="AcceptTerms" class="form-check-input" />
                                <label asp-for="AcceptTerms" class="form-check-label">
                                    I agree to the terms of service
                                </label>
                            </div>
                            <span asp-validation-for="AcceptTerms" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <button type="submit" class="btn btn-primary btn-lg btn-theme">Register</button>
                        </div>
                        <div class="extra-login clearfix">
                            <span>Or Register With</span>
                        </div>
                    </form>
                    <div class="social-list clearfix">
                        <div class="icon facebook"><div class="tooltip">Facebook</div><span><i class="fa fa-facebook"></i></span></div>
                        <div class="icon twitter"><div class="tooltip">Twitter</div><span><i class="fa fa-twitter"></i></span></div>
                        <div class="icon instagram"><div class="tooltip">Google</div><span><i class="fa fa-google"></i></span></div>
                        <div class="icon github mr-0"><div class="tooltip">Linkedin</div><span><i class="fa fa-linkedin"></i></span></div>
                    </div>
                    <p>Already a member? <a asp-controller="Account" asp-action="Login">Login here</a></p>
                </div>
            </div>
            <div class="col-lg-6 pad-0 none-992 bg-img">
                <div class="lines">
                    <div class="line"></div><div class="line"></div><div class="line"></div>
                    <div class="line"></div><div class="line"></div><div class="line"></div>
                </div>
                <div class="info">
                    <div class="animated-text">
                        <h1>Welcome <span>to Artmart</span></h1>
                    </div>
                    <p>At Artmart, we are passionate art enthusiasts dedicated to connecting artists and collectors through dynamic and exciting auctions. Our platform celebrates the creativity and diversity of artists from around the world, providing a space where their works can be appreciated and acquired.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
