@{
    Layout   = "_Layout";
    ViewBag.Title = "How to Sell";
}

<!-- Top area strats -->
    <div class="top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex mb-120">
                    <div class="top-content">
                        <ul>
                            <li>
                                <a href="index.html">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
                                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            <li>Resources</li>
                            <li>How to Sell</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top area ends -->
    <!-- How to sell section strats  -->
    <div class="how-to-sell-section mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-120">
                    <div class="how-to-sell-wrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-step">
                                    <span>01</span>
                                    <h3>Registration</h3>
                                    <p> Create an account and provide necessary details, including your payment
                                        information.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-lg-6">
                                <div class="single-step">
                                    <svg class="arrow" width="154" height="149" viewBox="0 0 154 149" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1 1C0.447715 1 0 1.44772 0 2C0 2.55228 0.447715 3 1 3L1 1ZM1 3L2.94737 3V1L1 1L1 3ZM6.8421 3L10.7368 3V1L6.8421 1V3ZM14.6316 3L18.5263 3V1L14.6316 1V3ZM22.4211 3L26.3158 3V1L22.4211 1V3ZM30.2105 3L34.1053 3V1L30.2105 1V3ZM38 3L41.8947 3V1L38 1V3ZM45.7895 3L49.6842 3V1L45.7895 1V3ZM53.5789 3L57.4737 3V1L53.5789 1V3ZM61.3684 3L65.2632 3V1L61.3684 1V3ZM69.1579 3L73.0526 3V1L69.1579 1V3ZM76.9474 3L80.8421 3V1L76.9474 1V3ZM84.7368 3L88.6316 3V1L84.7368 1V3ZM92.5263 3L96.4211 3V1L92.5263 1V3ZM100.316 3L104.211 3V1L100.316 1V3ZM108.105 3L112 3V1L108.105 1V3ZM115.895 3L119.789 3V1L115.895 1V3ZM123.684 3L127.579 3V1L123.684 1V3ZM131.474 3L135.368 3V1L131.474 1V3ZM139.263 3L143.158 3V1L139.263 1V3ZM147.053 3L149 3V1L147.053 1V3ZM1 1C0.447715 1 0 1.44772 0 2C0 2.55228 0.447715 3 1 3L1 1ZM1 3L2.94737 3V1L1 1L1 3ZM6.8421 3L10.7368 3V1L6.8421 1V3ZM14.6316 3L18.5263 3V1L14.6316 1V3ZM22.4211 3L26.3158 3V1L22.4211 1V3ZM30.2105 3L34.1053 3V1L30.2105 1V3ZM38 3L41.8947 3V1L38 1V3ZM45.7895 3L49.6842 3V1L45.7895 1V3ZM53.5789 3L57.4737 3V1L53.5789 1V3ZM61.3684 3L65.2632 3V1L61.3684 1V3ZM69.1579 3L73.0526 3V1L69.1579 1V3ZM76.9474 3L80.8421 3V1L76.9474 1V3ZM84.7368 3L88.6316 3V1L84.7368 1V3ZM92.5263 3L96.4211 3V1L92.5263 1V3ZM100.316 3L104.211 3V1L100.316 1V3ZM108.105 3L112 3V1L108.105 1V3ZM115.895 3L119.789 3V1L115.895 1V3ZM123.684 3L127.579 3V1L123.684 1V3ZM131.474 3L135.368 3V1L131.474 1V3ZM139.263 3L143.158 3V1L139.263 1V3ZM147.053 3L149 3V1L147.053 1V3Z"
                                            fill="url(#paint0_linear_652_3870)" />
                                        <path
                                            d="M148 149L153.774 139L142.226 139L148 149ZM149 1C149 0.447708 148.552 6.58594e-09 148 0C147.448 -6.58594e-09 147 0.447708 147 1L149 1ZM149 143.158L149 139.263L147 139.263L147 143.158L149 143.158ZM149 135.368L149 131.474L147 131.474L147 135.368L149 135.368ZM149 127.579L149 123.684L147 123.684L147 127.579L149 127.579ZM149 119.789L149 115.895L147 115.895L147 119.789L149 119.789ZM149 112L149 108.105L147 108.105L147 112L149 112ZM149 104.211L149 100.316L147 100.316L147 104.211L149 104.211ZM149 96.4211L149 92.5263L147 92.5263L147 96.4211L149 96.4211ZM149 88.6316L149 84.7368L147 84.7368L147 88.6316L149 88.6316ZM149 80.8421L149 76.9474L147 76.9474L147 80.8421L149 80.8421ZM149 73.0526L149 69.1579L147 69.1579L147 73.0526L149 73.0526ZM149 65.2632L149 61.3684L147 61.3684L147 65.2632L149 65.2632ZM149 57.4737L149 53.5789L147 53.5789L147 57.4737L149 57.4737ZM149 49.6842L149 45.7895L147 45.7895L147 49.6842L149 49.6842ZM149 41.8947L149 38L147 38L147 41.8947L149 41.8947ZM149 34.1053L149 30.2105L147 30.2105L147 34.1053L149 34.1053ZM149 26.3158L149 22.421L147 22.421L147 26.3158L149 26.3158ZM149 18.5263L149 14.6316L147 14.6316L147 18.5263L149 18.5263ZM149 10.7368L149 6.84212L147 6.84212L147 10.7368L149 10.7368ZM149 2.94739L149 1L147 1L147 2.94739L149 2.94739ZM148 149L153.774 139L142.226 139L148 149ZM149 1C149 0.447708 148.552 6.58594e-09 148 0C147.448 -6.58594e-09 147 0.447708 147 1L149 1ZM149 143.158L149 139.263L147 139.263L147 143.158L149 143.158ZM149 135.368L149 131.474L147 131.474L147 135.368L149 135.368ZM149 127.579L149 123.684L147 123.684L147 127.579L149 127.579ZM149 119.789L149 115.895L147 115.895L147 119.789L149 119.789ZM149 112L149 108.105L147 108.105L147 112L149 112ZM149 104.211L149 100.316L147 100.316L147 104.211L149 104.211ZM149 96.4211L149 92.5263L147 92.5263L147 96.4211L149 96.4211ZM149 88.6316L149 84.7368L147 84.7368L147 88.6316L149 88.6316ZM149 80.8421L149 76.9474L147 76.9474L147 80.8421L149 80.8421ZM149 73.0526L149 69.1579L147 69.1579L147 73.0526L149 73.0526ZM149 65.2632L149 61.3684L147 61.3684L147 65.2632L149 65.2632ZM149 57.4737L149 53.5789L147 53.5789L147 57.4737L149 57.4737ZM149 49.6842L149 45.7895L147 45.7895L147 49.6842L149 49.6842ZM149 41.8947L149 38L147 38L147 41.8947L149 41.8947ZM149 34.1053L149 30.2105L147 30.2105L147 34.1053L149 34.1053ZM149 26.3158L149 22.421L147 22.421L147 26.3158L149 26.3158ZM149 18.5263L149 14.6316L147 14.6316L147 18.5263L149 18.5263ZM149 10.7368L149 6.84212L147 6.84212L147 10.7368L149 10.7368ZM149 2.94739L149 1L147 1L147 2.94739L149 2.94739Z"
                                            fill="#595959" />
                                        <defs>
                                            <linearGradient id="paint0_linear_652_3870" x1="-26" y1="2" x2="149"
                                                y2="2.5" gradientUnits="userSpaceOnUse">
                                                <stop offset="0.67726" stop-color="#BFBFBF" stop-opacity="0.44" />
                                                <stop offset="0.9999" stop-color="#595959" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <span>02</span>
                                    <h3>a Detailed Description</h3>
                                    <p> Include the title, artist, dimensions, medium, year of creation, and any
                                        relevant provenance or exhibition history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-step">
                                    <svg class="arrow style-2" width="154" height="149" viewBox="0 0 154 149"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M153 1C153.552 1 154 1.44772 154 2C154 2.55228 153.552 3 153 3V1ZM153 3L151.053 3V1L153 1V3ZM147.158 3L143.263 3V1L147.158 1V3ZM139.368 3L135.474 3V1L139.368 1V3ZM131.579 3L127.684 3V1L131.579 1V3ZM123.789 3L119.895 3V1L123.789 1V3ZM116 3L112.105 3V1L116 1V3ZM108.211 3L104.316 3V1L108.211 1V3ZM100.421 3L96.5263 3V1L100.421 1V3ZM92.6316 3L88.7368 3V1L92.6316 1V3ZM84.8421 3L80.9474 3V1L84.8421 1V3ZM77.0526 3L73.1579 3V1L77.0526 1V3ZM69.2632 3L65.3684 3V1L69.2632 1V3ZM61.4737 3L57.5789 3V1L61.4737 1V3ZM53.6842 3L49.7895 3V1L53.6842 1V3ZM45.8947 3L42 3V1L45.8947 1V3ZM38.1053 3L34.2105 3V1L38.1053 1V3ZM30.3158 3L26.421 3V1L30.3158 1V3ZM22.5263 3L18.6316 3V1L22.5263 1V3ZM14.7368 3L10.8421 3V1L14.7368 1V3ZM6.94739 3L5 3V1L6.94739 1V3ZM153 1C153.552 1 154 1.44772 154 2C154 2.55228 153.552 3 153 3V1ZM153 3L151.053 3V1L153 1V3ZM147.158 3L143.263 3V1L147.158 1V3ZM139.368 3L135.474 3V1L139.368 1V3ZM131.579 3L127.684 3V1L131.579 1V3ZM123.789 3L119.895 3V1L123.789 1V3ZM116 3L112.105 3V1L116 1V3ZM108.211 3L104.316 3V1L108.211 1V3ZM100.421 3L96.5263 3V1L100.421 1V3ZM92.6316 3L88.7368 3V1L92.6316 1V3ZM84.8421 3L80.9474 3V1L84.8421 1V3ZM77.0526 3L73.1579 3V1L77.0526 1V3ZM69.2632 3L65.3684 3V1L69.2632 1V3ZM61.4737 3L57.5789 3V1L61.4737 1V3ZM53.6842 3L49.7895 3V1L53.6842 1V3ZM45.8947 3L42 3V1L45.8947 1V3ZM38.1053 3L34.2105 3V1L38.1053 1V3ZM30.3158 3L26.421 3V1L30.3158 1V3ZM22.5263 3L18.6316 3V1L22.5263 1V3ZM14.7368 3L10.8421 3V1L14.7368 1V3ZM6.94739 3L5 3V1L6.94739 1V3Z"
                                            fill="url(#paint0_linear_652_3873)" />
                                        <path
                                            d="M6 149L0.226497 139L11.7735 139L6 149ZM5 1C5 0.447708 5.44771 6.58594e-09 6 0C6.55228 -6.58594e-09 7 0.447708 7 1L5 1ZM5 143.158L5 139.263L7 139.263L7 143.158L5 143.158ZM5 135.368L5 131.474L7 131.474L7 135.368L5 135.368ZM5 127.579L5 123.684L7 123.684L7 127.579L5 127.579ZM5 119.789L5 115.895L7 115.895L7 119.789L5 119.789ZM5 112L5 108.105L7 108.105L7 112L5 112ZM5 104.211L5 100.316L7 100.316L7 104.211L5 104.211ZM5 96.4211L5 92.5263L7 92.5263L7 96.4211L5 96.4211ZM5 88.6316L5 84.7368L7 84.7368L7 88.6316L5 88.6316ZM5 80.8421L5 76.9474L7 76.9474L7 80.8421L5 80.8421ZM5 73.0526L5 69.1579L7 69.1579L7 73.0526L5 73.0526ZM5 65.2632L5 61.3684L7 61.3684L7 65.2632L5 65.2632ZM5 57.4737L5 53.5789L7 53.5789L7 57.4737L5 57.4737ZM5 49.6842L5 45.7895L7 45.7895L7 49.6842L5 49.6842ZM5 41.8947L5 38L7 38L7 41.8947L5 41.8947ZM5 34.1053L5 30.2105L7 30.2105L7 34.1053L5 34.1053ZM5 26.3158L5 22.421L7 22.421L7 26.3158L5 26.3158ZM5 18.5263L5 14.6316L7 14.6316L7 18.5263L5 18.5263ZM5 10.7368L5 6.84212L7 6.84212L7 10.7368L5 10.7368ZM5 2.94739L5 1L7 1L7 2.94739L5 2.94739ZM6 149L0.226497 139L11.7735 139L6 149ZM5 1C5 0.447708 5.44771 6.58594e-09 6 0C6.55228 -6.58594e-09 7 0.447708 7 1L5 1ZM5 143.158L5 139.263L7 139.263L7 143.158L5 143.158ZM5 135.368L5 131.474L7 131.474L7 135.368L5 135.368ZM5 127.579L5 123.684L7 123.684L7 127.579L5 127.579ZM5 119.789L5 115.895L7 115.895L7 119.789L5 119.789ZM5 112L5 108.105L7 108.105L7 112L5 112ZM5 104.211L5 100.316L7 100.316L7 104.211L5 104.211ZM5 96.4211L5 92.5263L7 92.5263L7 96.4211L5 96.4211ZM5 88.6316L5 84.7368L7 84.7368L7 88.6316L5 88.6316ZM5 80.8421L5 76.9474L7 76.9474L7 80.8421L5 80.8421ZM5 73.0526L5 69.1579L7 69.1579L7 73.0526L5 73.0526ZM5 65.2632L5 61.3684L7 61.3684L7 65.2632L5 65.2632ZM5 57.4737L5 53.5789L7 53.5789L7 57.4737L5 57.4737ZM5 49.6842L5 45.7895L7 45.7895L7 49.6842L5 49.6842ZM5 41.8947L5 38L7 38L7 41.8947L5 41.8947ZM5 34.1053L5 30.2105L7 30.2105L7 34.1053L5 34.1053ZM5 26.3158L5 22.421L7 22.421L7 26.3158L5 26.3158ZM5 18.5263L5 14.6316L7 14.6316L7 18.5263L5 18.5263ZM5 10.7368L5 6.84212L7 6.84212L7 10.7368L5 10.7368ZM5 2.94739L5 1L7 1L7 2.94739L5 2.94739Z"
                                            fill="#595959" />
                                        <defs>
                                            <linearGradient id="paint0_linear_652_3873" x1="180" y1="2" x2="4.99999"
                                                y2="2.5" gradientUnits="userSpaceOnUse">
                                                <stop offset="0.67726" stop-color="#BFBFBF" stop-opacity="0.44" />
                                                <stop offset="0.9999" stop-color="#595959" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <span>03</span>
                                    <h3>Set the Auction Terms</h3>
                                    <p>Decide on a starting bid or reserve price (the minimum price you’re willing to
                                        accept).Choose how long the auction will run, typically ranging from a few days
                                        to a week.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-lg-6">
                                <div class="single-step">
                                    <svg class="arrow" width="154" height="149" viewBox="0 0 154 149" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1 1C0.447715 1 0 1.44772 0 2C0 2.55228 0.447715 3 1 3L1 1ZM1 3L2.94737 3V1L1 1L1 3ZM6.8421 3L10.7368 3V1L6.8421 1V3ZM14.6316 3L18.5263 3V1L14.6316 1V3ZM22.4211 3L26.3158 3V1L22.4211 1V3ZM30.2105 3L34.1053 3V1L30.2105 1V3ZM38 3L41.8947 3V1L38 1V3ZM45.7895 3L49.6842 3V1L45.7895 1V3ZM53.5789 3L57.4737 3V1L53.5789 1V3ZM61.3684 3L65.2632 3V1L61.3684 1V3ZM69.1579 3L73.0526 3V1L69.1579 1V3ZM76.9474 3L80.8421 3V1L76.9474 1V3ZM84.7368 3L88.6316 3V1L84.7368 1V3ZM92.5263 3L96.4211 3V1L92.5263 1V3ZM100.316 3L104.211 3V1L100.316 1V3ZM108.105 3L112 3V1L108.105 1V3ZM115.895 3L119.789 3V1L115.895 1V3ZM123.684 3L127.579 3V1L123.684 1V3ZM131.474 3L135.368 3V1L131.474 1V3ZM139.263 3L143.158 3V1L139.263 1V3ZM147.053 3L149 3V1L147.053 1V3ZM1 1C0.447715 1 0 1.44772 0 2C0 2.55228 0.447715 3 1 3L1 1ZM1 3L2.94737 3V1L1 1L1 3ZM6.8421 3L10.7368 3V1L6.8421 1V3ZM14.6316 3L18.5263 3V1L14.6316 1V3ZM22.4211 3L26.3158 3V1L22.4211 1V3ZM30.2105 3L34.1053 3V1L30.2105 1V3ZM38 3L41.8947 3V1L38 1V3ZM45.7895 3L49.6842 3V1L45.7895 1V3ZM53.5789 3L57.4737 3V1L53.5789 1V3ZM61.3684 3L65.2632 3V1L61.3684 1V3ZM69.1579 3L73.0526 3V1L69.1579 1V3ZM76.9474 3L80.8421 3V1L76.9474 1V3ZM84.7368 3L88.6316 3V1L84.7368 1V3ZM92.5263 3L96.4211 3V1L92.5263 1V3ZM100.316 3L104.211 3V1L100.316 1V3ZM108.105 3L112 3V1L108.105 1V3ZM115.895 3L119.789 3V1L115.895 1V3ZM123.684 3L127.579 3V1L123.684 1V3ZM131.474 3L135.368 3V1L131.474 1V3ZM139.263 3L143.158 3V1L139.263 1V3ZM147.053 3L149 3V1L147.053 1V3Z"
                                            fill="url(#paint0_linear_652_3871)" />
                                        <path
                                            d="M148 149L153.774 139L142.226 139L148 149ZM149 1C149 0.447708 148.552 6.58594e-09 148 0C147.448 -6.58594e-09 147 0.447708 147 1L149 1ZM149 143.158L149 139.263L147 139.263L147 143.158L149 143.158ZM149 135.368L149 131.474L147 131.474L147 135.368L149 135.368ZM149 127.579L149 123.684L147 123.684L147 127.579L149 127.579ZM149 119.789L149 115.895L147 115.895L147 119.789L149 119.789ZM149 112L149 108.105L147 108.105L147 112L149 112ZM149 104.211L149 100.316L147 100.316L147 104.211L149 104.211ZM149 96.4211L149 92.5263L147 92.5263L147 96.4211L149 96.4211ZM149 88.6316L149 84.7368L147 84.7368L147 88.6316L149 88.6316ZM149 80.8421L149 76.9474L147 76.9474L147 80.8421L149 80.8421ZM149 73.0526L149 69.1579L147 69.1579L147 73.0526L149 73.0526ZM149 65.2632L149 61.3684L147 61.3684L147 65.2632L149 65.2632ZM149 57.4737L149 53.5789L147 53.5789L147 57.4737L149 57.4737ZM149 49.6842L149 45.7895L147 45.7895L147 49.6842L149 49.6842ZM149 41.8947L149 38L147 38L147 41.8947L149 41.8947ZM149 34.1053L149 30.2105L147 30.2105L147 34.1053L149 34.1053ZM149 26.3158L149 22.421L147 22.421L147 26.3158L149 26.3158ZM149 18.5263L149 14.6316L147 14.6316L147 18.5263L149 18.5263ZM149 10.7368L149 6.84212L147 6.84212L147 10.7368L149 10.7368ZM149 2.94739L149 1L147 1L147 2.94739L149 2.94739ZM148 149L153.774 139L142.226 139L148 149ZM149 1C149 0.447708 148.552 6.58594e-09 148 0C147.448 -6.58594e-09 147 0.447708 147 1L149 1ZM149 143.158L149 139.263L147 139.263L147 143.158L149 143.158ZM149 135.368L149 131.474L147 131.474L147 135.368L149 135.368ZM149 127.579L149 123.684L147 123.684L147 127.579L149 127.579ZM149 119.789L149 115.895L147 115.895L147 119.789L149 119.789ZM149 112L149 108.105L147 108.105L147 112L149 112ZM149 104.211L149 100.316L147 100.316L147 104.211L149 104.211ZM149 96.4211L149 92.5263L147 92.5263L147 96.4211L149 96.4211ZM149 88.6316L149 84.7368L147 84.7368L147 88.6316L149 88.6316ZM149 80.8421L149 76.9474L147 76.9474L147 80.8421L149 80.8421ZM149 73.0526L149 69.1579L147 69.1579L147 73.0526L149 73.0526ZM149 65.2632L149 61.3684L147 61.3684L147 65.2632L149 65.2632ZM149 57.4737L149 53.5789L147 53.5789L147 57.4737L149 57.4737ZM149 49.6842L149 45.7895L147 45.7895L147 49.6842L149 49.6842ZM149 41.8947L149 38L147 38L147 41.8947L149 41.8947ZM149 34.1053L149 30.2105L147 30.2105L147 34.1053L149 34.1053ZM149 26.3158L149 22.421L147 22.421L147 26.3158L149 26.3158ZM149 18.5263L149 14.6316L147 14.6316L147 18.5263L149 18.5263ZM149 10.7368L149 6.84212L147 6.84212L147 10.7368L149 10.7368ZM149 2.94739L149 1L147 1L147 2.94739L149 2.94739Z"
                                            fill="#595959" />
                                        <defs>
                                            <linearGradient id="paint0_linear_652_3871" x1="-26" y1="2" x2="149"
                                                y2="2.5" gradientUnits="userSpaceOnUse">
                                                <stop offset="0.67726" stop-color="#BFBFBF" stop-opacity="0.44" />
                                                <stop offset="0.9999" stop-color="#595959" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <span>04</span>
                                    <h3>Upload Photos</h3>
                                    <p>Follow the platform’s instructions to list your artwork, ensuring all details are
                                        accurate. Double-check all information before submitting your listing for
                                        approval.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-step">
                                    <svg class="arrow style-3" width="154" height="149" viewBox="0 0 154 149"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M153 1C153.552 1 154 1.44772 154 2C154 2.55228 153.552 3 153 3V1ZM153 3L151.053 3V1L153 1V3ZM147.158 3L143.263 3V1L147.158 1V3ZM139.368 3L135.474 3V1L139.368 1V3ZM131.579 3L127.684 3V1L131.579 1V3ZM123.789 3L119.895 3V1L123.789 1V3ZM116 3L112.105 3V1L116 1V3ZM108.211 3L104.316 3V1L108.211 1V3ZM100.421 3L96.5263 3V1L100.421 1V3ZM92.6316 3L88.7368 3V1L92.6316 1V3ZM84.8421 3L80.9474 3V1L84.8421 1V3ZM77.0526 3L73.1579 3V1L77.0526 1V3ZM69.2632 3L65.3684 3V1L69.2632 1V3ZM61.4737 3L57.5789 3V1L61.4737 1V3ZM53.6842 3L49.7895 3V1L53.6842 1V3ZM45.8947 3L42 3V1L45.8947 1V3ZM38.1053 3L34.2105 3V1L38.1053 1V3ZM30.3158 3L26.421 3V1L30.3158 1V3ZM22.5263 3L18.6316 3V1L22.5263 1V3ZM14.7368 3L10.8421 3V1L14.7368 1V3ZM6.94739 3L5 3V1L6.94739 1V3ZM153 1C153.552 1 154 1.44772 154 2C154 2.55228 153.552 3 153 3V1ZM153 3L151.053 3V1L153 1V3ZM147.158 3L143.263 3V1L147.158 1V3ZM139.368 3L135.474 3V1L139.368 1V3ZM131.579 3L127.684 3V1L131.579 1V3ZM123.789 3L119.895 3V1L123.789 1V3ZM116 3L112.105 3V1L116 1V3ZM108.211 3L104.316 3V1L108.211 1V3ZM100.421 3L96.5263 3V1L100.421 1V3ZM92.6316 3L88.7368 3V1L92.6316 1V3ZM84.8421 3L80.9474 3V1L84.8421 1V3ZM77.0526 3L73.1579 3V1L77.0526 1V3ZM69.2632 3L65.3684 3V1L69.2632 1V3ZM61.4737 3L57.5789 3V1L61.4737 1V3ZM53.6842 3L49.7895 3V1L53.6842 1V3ZM45.8947 3L42 3V1L45.8947 1V3ZM38.1053 3L34.2105 3V1L38.1053 1V3ZM30.3158 3L26.421 3V1L30.3158 1V3ZM22.5263 3L18.6316 3V1L22.5263 1V3ZM14.7368 3L10.8421 3V1L14.7368 1V3ZM6.94739 3L5 3V1L6.94739 1V3Z"
                                            fill="url(#paint0_linear_652_3872)" />
                                        <path
                                            d="M6 149L0.226497 139L11.7735 139L6 149ZM5 1C5 0.447708 5.44771 6.58594e-09 6 0C6.55228 -6.58594e-09 7 0.447708 7 1L5 1ZM5 143.158L5 139.263L7 139.263L7 143.158L5 143.158ZM5 135.368L5 131.474L7 131.474L7 135.368L5 135.368ZM5 127.579L5 123.684L7 123.684L7 127.579L5 127.579ZM5 119.789L5 115.895L7 115.895L7 119.789L5 119.789ZM5 112L5 108.105L7 108.105L7 112L5 112ZM5 104.211L5 100.316L7 100.316L7 104.211L5 104.211ZM5 96.4211L5 92.5263L7 92.5263L7 96.4211L5 96.4211ZM5 88.6316L5 84.7368L7 84.7368L7 88.6316L5 88.6316ZM5 80.8421L5 76.9474L7 76.9474L7 80.8421L5 80.8421ZM5 73.0526L5 69.1579L7 69.1579L7 73.0526L5 73.0526ZM5 65.2632L5 61.3684L7 61.3684L7 65.2632L5 65.2632ZM5 57.4737L5 53.5789L7 53.5789L7 57.4737L5 57.4737ZM5 49.6842L5 45.7895L7 45.7895L7 49.6842L5 49.6842ZM5 41.8947L5 38L7 38L7 41.8947L5 41.8947ZM5 34.1053L5 30.2105L7 30.2105L7 34.1053L5 34.1053ZM5 26.3158L5 22.421L7 22.421L7 26.3158L5 26.3158ZM5 18.5263L5 14.6316L7 14.6316L7 18.5263L5 18.5263ZM5 10.7368L5 6.84212L7 6.84212L7 10.7368L5 10.7368ZM5 2.94739L5 1L7 1L7 2.94739L5 2.94739ZM6 149L0.226497 139L11.7735 139L6 149ZM5 1C5 0.447708 5.44771 6.58594e-09 6 0C6.55228 -6.58594e-09 7 0.447708 7 1L5 1ZM5 143.158L5 139.263L7 139.263L7 143.158L5 143.158ZM5 135.368L5 131.474L7 131.474L7 135.368L5 135.368ZM5 127.579L5 123.684L7 123.684L7 127.579L5 127.579ZM5 119.789L5 115.895L7 115.895L7 119.789L5 119.789ZM5 112L5 108.105L7 108.105L7 112L5 112ZM5 104.211L5 100.316L7 100.316L7 104.211L5 104.211ZM5 96.4211L5 92.5263L7 92.5263L7 96.4211L5 96.4211ZM5 88.6316L5 84.7368L7 84.7368L7 88.6316L5 88.6316ZM5 80.8421L5 76.9474L7 76.9474L7 80.8421L5 80.8421ZM5 73.0526L5 69.1579L7 69.1579L7 73.0526L5 73.0526ZM5 65.2632L5 61.3684L7 61.3684L7 65.2632L5 65.2632ZM5 57.4737L5 53.5789L7 53.5789L7 57.4737L5 57.4737ZM5 49.6842L5 45.7895L7 45.7895L7 49.6842L5 49.6842ZM5 41.8947L5 38L7 38L7 41.8947L5 41.8947ZM5 34.1053L5 30.2105L7 30.2105L7 34.1053L5 34.1053ZM5 26.3158L5 22.421L7 22.421L7 26.3158L5 26.3158ZM5 18.5263L5 14.6316L7 14.6316L7 18.5263L5 18.5263ZM5 10.7368L5 6.84212L7 6.84212L7 10.7368L5 10.7368ZM5 2.94739L5 1L7 1L7 2.94739L5 2.94739Z"
                                            fill="#595959" />
                                        <defs>
                                            <linearGradient id="paint0_linear_652_3872" x1="180" y1="2" x2="4.99999"
                                                y2="2.5" gradientUnits="userSpaceOnUse">
                                                <stop offset="0.67726" stop-color="#BFBFBF" stop-opacity="0.44" />
                                                <stop offset="0.9999" stop-color="#595959" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <span>05</span>
                                    <h3>Monitor the Auction</h3>
                                    <p>Keep an eye on the bidding activity and be prepared to answer any questions from
                                        potential buyers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-lg-6">
                                <div class="single-step">
                                    <svg class="arrow" width="154" height="149" viewBox="0 0 154 149" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1 1C0.447715 1 0 1.44772 0 2C0 2.55228 0.447715 3 1 3L1 1ZM1 3L2.94737 3V1L1 1L1 3ZM6.8421 3L10.7368 3V1L6.8421 1V3ZM14.6316 3L18.5263 3V1L14.6316 1V3ZM22.4211 3L26.3158 3V1L22.4211 1V3ZM30.2105 3L34.1053 3V1L30.2105 1V3ZM38 3L41.8947 3V1L38 1V3ZM45.7895 3L49.6842 3V1L45.7895 1V3ZM53.5789 3L57.4737 3V1L53.5789 1V3ZM61.3684 3L65.2632 3V1L61.3684 1V3ZM69.1579 3L73.0526 3V1L69.1579 1V3ZM76.9474 3L80.8421 3V1L76.9474 1V3ZM84.7368 3L88.6316 3V1L84.7368 1V3ZM92.5263 3L96.4211 3V1L92.5263 1V3ZM100.316 3L104.211 3V1L100.316 1V3ZM108.105 3L112 3V1L108.105 1V3ZM115.895 3L119.789 3V1L115.895 1V3ZM123.684 3L127.579 3V1L123.684 1V3ZM131.474 3L135.368 3V1L131.474 1V3ZM139.263 3L143.158 3V1L139.263 1V3ZM147.053 3L149 3V1L147.053 1V3ZM1 1C0.447715 1 0 1.44772 0 2C0 2.55228 0.447715 3 1 3L1 1ZM1 3L2.94737 3V1L1 1L1 3ZM6.8421 3L10.7368 3V1L6.8421 1V3ZM14.6316 3L18.5263 3V1L14.6316 1V3ZM22.4211 3L26.3158 3V1L22.4211 1V3ZM30.2105 3L34.1053 3V1L30.2105 1V3ZM38 3L41.8947 3V1L38 1V3ZM45.7895 3L49.6842 3V1L45.7895 1V3ZM53.5789 3L57.4737 3V1L53.5789 1V3ZM61.3684 3L65.2632 3V1L61.3684 1V3ZM69.1579 3L73.0526 3V1L69.1579 1V3ZM76.9474 3L80.8421 3V1L76.9474 1V3ZM84.7368 3L88.6316 3V1L84.7368 1V3ZM92.5263 3L96.4211 3V1L92.5263 1V3ZM100.316 3L104.211 3V1L100.316 1V3ZM108.105 3L112 3V1L108.105 1V3ZM115.895 3L119.789 3V1L115.895 1V3ZM123.684 3L127.579 3V1L123.684 1V3ZM131.474 3L135.368 3V1L131.474 1V3ZM139.263 3L143.158 3V1L139.263 1V3ZM147.053 3L149 3V1L147.053 1V3Z"
                                            fill="url(#paint0_linear_652_3874)" />
                                        <path
                                            d="M148 149L153.774 139L142.226 139L148 149ZM149 1C149 0.447708 148.552 6.58594e-09 148 0C147.448 -6.58594e-09 147 0.447708 147 1L149 1ZM149 143.158L149 139.263L147 139.263L147 143.158L149 143.158ZM149 135.368L149 131.474L147 131.474L147 135.368L149 135.368ZM149 127.579L149 123.684L147 123.684L147 127.579L149 127.579ZM149 119.789L149 115.895L147 115.895L147 119.789L149 119.789ZM149 112L149 108.105L147 108.105L147 112L149 112ZM149 104.211L149 100.316L147 100.316L147 104.211L149 104.211ZM149 96.4211L149 92.5263L147 92.5263L147 96.4211L149 96.4211ZM149 88.6316L149 84.7368L147 84.7368L147 88.6316L149 88.6316ZM149 80.8421L149 76.9474L147 76.9474L147 80.8421L149 80.8421ZM149 73.0526L149 69.1579L147 69.1579L147 73.0526L149 73.0526ZM149 65.2632L149 61.3684L147 61.3684L147 65.2632L149 65.2632ZM149 57.4737L149 53.5789L147 53.5789L147 57.4737L149 57.4737ZM149 49.6842L149 45.7895L147 45.7895L147 49.6842L149 49.6842ZM149 41.8947L149 38L147 38L147 41.8947L149 41.8947ZM149 34.1053L149 30.2105L147 30.2105L147 34.1053L149 34.1053ZM149 26.3158L149 22.421L147 22.421L147 26.3158L149 26.3158ZM149 18.5263L149 14.6316L147 14.6316L147 18.5263L149 18.5263ZM149 10.7368L149 6.84212L147 6.84212L147 10.7368L149 10.7368ZM149 2.94739L149 1L147 1L147 2.94739L149 2.94739ZM148 149L153.774 139L142.226 139L148 149ZM149 1C149 0.447708 148.552 6.58594e-09 148 0C147.448 -6.58594e-09 147 0.447708 147 1L149 1ZM149 143.158L149 139.263L147 139.263L147 143.158L149 143.158ZM149 135.368L149 131.474L147 131.474L147 135.368L149 135.368ZM149 127.579L149 123.684L147 123.684L147 127.579L149 127.579ZM149 119.789L149 115.895L147 115.895L147 119.789L149 119.789ZM149 112L149 108.105L147 108.105L147 112L149 112ZM149 104.211L149 100.316L147 100.316L147 104.211L149 104.211ZM149 96.4211L149 92.5263L147 92.5263L147 96.4211L149 96.4211ZM149 88.6316L149 84.7368L147 84.7368L147 88.6316L149 88.6316ZM149 80.8421L149 76.9474L147 76.9474L147 80.8421L149 80.8421ZM149 73.0526L149 69.1579L147 69.1579L147 73.0526L149 73.0526ZM149 65.2632L149 61.3684L147 61.3684L147 65.2632L149 65.2632ZM149 57.4737L149 53.5789L147 53.5789L147 57.4737L149 57.4737ZM149 49.6842L149 45.7895L147 45.7895L147 49.6842L149 49.6842ZM149 41.8947L149 38L147 38L147 41.8947L149 41.8947ZM149 34.1053L149 30.2105L147 30.2105L147 34.1053L149 34.1053ZM149 26.3158L149 22.421L147 22.421L147 26.3158L149 26.3158ZM149 18.5263L149 14.6316L147 14.6316L147 18.5263L149 18.5263ZM149 10.7368L149 6.84212L147 6.84212L147 10.7368L149 10.7368ZM149 2.94739L149 1L147 1L147 2.94739L149 2.94739Z"
                                            fill="#595959" />
                                        <defs>
                                            <linearGradient id="paint0_linear_652_3874" x1="-26" y1="2" x2="149"
                                                y2="2.5" gradientUnits="userSpaceOnUse">
                                                <stop offset="0.67726" stop-color="#BFBFBF" stop-opacity="0.44" />
                                                <stop offset="0.9999" stop-color="#595959" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <span>06</span>
                                    <h3>payment and Shipping</h3>
                                    <p>Carefully pack the artwork to prevent damage during transit. Consider insuring
                                        the package.Ensure you receive payment according to the auction site’s terms
                                        before shipping the artwork.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-tutorial-area">
                <h3>Guidelines For “How to sell”</h3>
                <p>Join us for an exhilarating live auction experience where art meets excitement. </p>
                <div class="video-wrapper">
                    <img src='@Url.Content("~/assets/img/inner-page/how-to-bid-video-img.jpg")' alt="">
                    <a href="https://www.youtube.com/watch?v=nInHvH6X7zM" class="video-area video-player">
                        <div class="icon">
                            <svg class="video-circle" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px"
                                viewBox="0 0 206 206" style="enable-background:new 0 0 206 206;" xml:space="preserve">
                                <circle class="circle" stroke-miterlimit="10" cx="103" cy="103" r="100"></circle>
                                <path class="circle-half top-half" stroke-width="4" stroke-miterlimit="10"
                                    d="M16.4,53C44,5.2,105.2-11.2,153,16.4s64.2,88.8,36.6,136.6"></path>
                                <path class="circle-half bottom-half" stroke-width="4" stroke-miterlimit="10"
                                    d="M189.6,153C162,200.8,100.8,217.2,53,189.6S-11.2,100.8,16.4,53"></path>
                            </svg>
                            <i class="bi bi-play"></i>
                        </div>
                    </a>
                </div>
                <div class="ask-question">
                    <p>Have Any Question? <a asp-controller="Home" asp-action="Contact">Ask Us</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- How to sell section ends  -->